<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--框架必需start-->
<script type="text/javascript" src="js/jquery-1.4.js"></script>
<script type="text/javascript" src="js/framework.js"></script>
<link href="css/import_basic.css" rel="stylesheet" type="text/css" />
<link href="skins/sky/import_skin.css" rel="stylesheet" type="text/css" />
<!--框架必需end-->

<script type="text/javascript" src="js/nav/ddaccordion.js"></script>
<script type="text/javascript" src="js/text/text-overflow.js"></script>
<script type="text/javascript" src="js/form/datePicker/WdatePicker.js"></script>

<style>
	
</style>

<script>
	function getContextPath(){ 
		var pathName = document.location.pathname; 
		var index = pathName.substr(1).indexOf("/"); 
		var result = pathName.substr(0,index+1); 
		return result; 
	} 

	//保存操作
	function saveData(){
		if($("#carbh").val()==""){
			top.Dialog.alert("事故车辆不能为空！");
			return false;
		}
		if($("#startTimes").val()==""){
			top.Dialog.alert("开始时间不能为空！");
			return false;
		}
		if($("#endTimes").val()==""){
			top.Dialog.alert("结束时间不能为空！");
			return false;
		}
		$.ajax({
			async:false,
			url : getContextPath()+"/sub.do?method=editRepair" ,
			type: "POST",
			data:$("#repairFrom").serialize(),
			cache: false,
			dataType:"json",
			success:function(result){
				if(result.state==1){
					top.Dialog.alert(result.msg,function(){
						top.Dialog.parentWindow.search();
						top.Dialog.close();
					});
				}else{
					top.Dialog.alert(result.msg);
				}
			},
			error:function(){
				top.Dialog.alert("操作异常");
			}
		});
	}
</script>


<body>
	<div class="position">
		<div class="center">
			<div class="left">
				<div class="right" style="width: 101%">
					<span>当前位置：信息查询&gt;&gt; 事故编辑</span>
				</div>
			</div>
		</div>
	</div>
	<form id="repairFrom" method="post">
		<input type="hidden" name="id" value="${repairInfo.id!}" />
		<input type="hidden" name="repairbh" value="${repairInfo.repairbh!}" />
		<input type="hidden" name="userbh" value="${repairInfo.userbh!}" />
		<input type="hidden" name="state" value="${repairInfo.state!0}" />
		<table class="tableStyle" style="text-align: left;">
			<tr>
				<td width="80px;">事故车辆：</td>
				<td>
					<select name="carbh" id="carbh">
						<#list carList as car>
						<option value="${car.carbh!}" <#if repairInfo.carbh==car.carbh>selected</#if>>${car.type!}</option>
						</#list>
					</select>
				</td>
			</tr>
			
			<!-- <tr>
				<td>车辆状态：</td><td><input type="radio" name="state" value="1" checked/>正在维修</td>
			</tr> -->
			
			<tr>
				<td>开始时间：</td><td><input type="text" class="date" id="startTimes" name="startTimes" value="${repairInfo.startTime?string('yyyy-MM-dd')!}"/></td>
			</tr>
			
			<tr>
				<td>结束时间：</td><td><input type="text" class="date" id="endTimes" name="endTimes" value="${repairInfo.endTime?string('yyyy-MM-dd')!}"/></td>
			</tr>
			
			<tr>
				<td>具体描述：</td>
				<td>
					<textarea style="width:90%;" name="describes">${repairInfo.describes!}</textarea>
				</td>
			</tr>
		</table>
	</form>
</body>