<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--框架必需start-->
<script type="text/javascript" src="${contextPath!}/js/jquery-1.4.js"></script>
<script type="text/javascript" src="${contextPath!}/js/framework.js"></script>
<link href="${contextPath!}/css/import_basic.css" rel="stylesheet" type="text/css" />
<link href="${contextPath!}/skins/sky/import_skin.css" rel="stylesheet" type="text/css" />
<!--框架必需end-->

<script type="text/javascript" src="${contextPath!}/js/nav/ddaccordion.js"></script>
<script type="text/javascript" src="${contextPath!}/js/text/text-overflow.js"></script>
<script type="text/javascript" src="${contextPath!}/js/form/datePicker/WdatePicker.js"></script>

<style>
	
</style>

<script>
	function getContextPath(){ 
		var pathName = document.location.pathname; 
		var index = pathName.substr(1).indexOf("/"); 
		var result = pathName.substr(0,index+1); 
		return result; 
	} 

	//保存操作
	function saveData(){
		
		if($("#price").val()==""){
			top.Dialog.alert("租赁价格不能为空！");
			return false;
		}else{
			var reg=/^[0-9]*$/;
			if(!reg.test($("#price").val())){
				top.Dialog.alert("价格格式不正确！");
				return false;
			}
		}
		
		if($("#startTimes").val()==""){
			top.Dialog.alert("开始时间不能为空！");
			return false;
		}
		
		if($("#endTimes").val()==""){
			top.Dialog.alert("结束时间不能为空！");
			return false;
		}
		
		$.ajax({
			async:false,
			url : getContextPath()+"/sub.do?method=editOrder" ,
			type: "POST",
			data:$("#orderForm").serialize(),
			cache: false,
			dataType:"json",
			success:function(result){
				if(result.state==1){
					top.Dialog.alert(result.msg,function(){
						top.Dialog.parentWindow.search();
						top.Dialog.close();
					});
				}else{
					top.Dialog.alert(result.msg);
				}
			},
			error:function(){
				top.Dialog.alert("操作异常");
			}
		});
	}
</script>


<body>
	<form id="orderForm" method="post">
		<input type="hidden" value="${orderInfo.id!}" name="id" />
		<input type="hidden" value="${orderInfo.orderbh!}" name="orderbh" />
		<input type="hidden" id="userbh" name="userbh" value="${currentUser.userbh!}"/>
		<table class="tableStyle" style="text-align: left;">
			<tr>
				<td width="80px;" colspan="2"><strong>客户信息</strong></td>
			</tr>
			<tr>
				<td width="80px;">客户编号：</td><td>${orderInfo.userbh!}</td>
			</tr>
			<tr>
				<td width="80px;">客户姓名：</td><td>${orderInfo.username!}</td>
			</tr>
			<tr>
				<td width="80px;">客户账号：</td><td>${orderInfo.accountnum!}</td>
			</tr>
			<tr>
				<td width="80px;">性别：</td><td>${orderInfo.sex!}</td>
			</tr>
			<tr>
				<td width="80px;">年龄：</td><td>${orderInfo.age!}</td>
			</tr>
			<tr>
				<td width="80px;">客户电话：</td><td>${orderInfo.phone!}</td>
			</tr>
			<tr>
				<td width="80px;">地址：</td><td>${orderInfo.address!}</td>
			</tr>
			<tr>
				<td width="80px;">身份证号码：</td><td>${orderInfo.usersfz!}</td>
			</tr>
			<tr>
				<td width="80px;">申请时间：</td><td>${orderInfo.applyDate?string('yyyy-MM-dd')!}</td>
			</tr>
			
			<tr>
				<td width="80px;" colspan="2"><strong>车辆信息</strong></td>
			</tr>
			
			<tr>
				<td>车辆编号：</td><td>${orderInfo.carbh!}</td>
			</tr>
			
			<tr>
				<td>车主姓名：</td><td>${orderInfo.owner!}</td>
			</tr>
			
			<tr>
				<td>车牌号：</td><td>${orderInfo.carno!}</td>
			</tr>
			
			<tr>
				<td>车辆型号：</td><td>${orderInfo.type!}</td>
			</tr>
			
			<tr>
				<td>车辆颜色：</td><td>${orderInfo.color!}</td>
			</tr>
			
			<tr>
				<td>车辆图片：</td><td><img src="${contextPath!}/${orderInfo.image!}" width="100px" height="100px" /></td>
			</tr>
			
			<tr>
				<td>车主电话：</td><td>${orderInfo.ownerphone!}</td>
			</tr>
			
			<tr>
				<td>身份证号码：</td><td>${orderInfo.ownersfz!}</td>
			</tr>
			
			<tr>
				<td width="80px;" colspan="2"><strong>租赁信息</strong></td>
			</tr>
			
			<tr>
				<td>租赁状态：</td><td><#if orderInfo.isback==1>正在使用<#elseif orderInfo.isback==0>归还车辆</#if> <input type="radio" name="isback" checked /></td>
			</tr>
			
			<tr>
				<td>租赁价格：</td><td>${orderInfo.price!}元</td>
			</tr>
			
			<tr>
				<td>开始时间：</td><td><input type="text" class="date" name="startTimes" disabled="disabled" id="startTimes" value="${orderInfo.startTime?string('yyyy-MM-dd')!}"  /></td>
			</tr>
			
			<tr>
				<td>结束时间：</td><td><input type="text" class="date" name="endTimes" disabled="disabled" id="endTimes" value="${orderInfo.endTime?string('yyyy-MM-dd')!}"  /></td>
			</tr>
		</table>
	</form>
</body>